<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
<test name="Test cases">
<parameter name="Name" value="Avatar"></parameter>
<classes>
<!-- <class name="testNG.ParmeterizationExample"></class> -->

<class name="testNG.ParallelTesting"></class>

<!-- <class name="testNG.DependenciesManagement"></class>
<class name="testNG.DriveaCar"></class>
<class name="testNG.SampleTestCase"></class>
<class name="testNG.SuiteExample"></class> -->
</classes>
</test>
</suite>